################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/**
**/bin/**
!**/DevExpress*/**
**/obj/**
**/Scripts/**/*.js.map
/ZnodeMultifront/Projects/Znode.Engine.Admin/Themes
/ZnodeMultifront/Projects/packages
/ZnodeMultifront/Projects/UpgradeLog.htm
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Custom/CustomPortal.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Controls/DateTimeRangePicker/ZnodeDateRangePicker.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/ZnodeNotification.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/WebSite.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Warehouse.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Vendor.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/User.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/UrlManagement.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/TouchPointConfiguration.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Theme.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Template.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/TaxClass.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/StoreLocator.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Store.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Shippings.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/SessionTimeoutAlert.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/SEOSetting.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/SearchConfiguration.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Search.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/RoleAndAccessRight.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/RMAManager.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/RMAConfiguration.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Review.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Quote.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/QuickOrder.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/ProviderEngine.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Promotion.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Profiles.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Products.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/ProductFeed.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/ProductAttribute.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Price.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/PIMAttributeGroup.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/PIMAttributeFamily.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Payment.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/OrderSidePanel.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Order.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/MyReports.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/MediaManagerTools.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/MediaConfiguration.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/LogMessage.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Login.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Inventory.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Import.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Highlight.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/GlobalConfiguration.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/GlobalAttributeGroup.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/GlobalAttributeEntity.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/GlobalAttribute.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/GiftCard.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/GeneralSetting.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/FormBuilder.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/ERPConfigurator.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/EmailTemplate.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Diagnostics.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/DevExpressReportViewer.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Dashboard.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Customer.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Content.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Config.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/CategoryAttribute.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Category.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Catalog.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Brand.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/BlogNews.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Attributes.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/AttributeGroup.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/AttributeFamily.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/AddonGroup.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Account.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/StoreExperience.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/PostalCodeRegExp.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Model/Znode.Model.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Endpoint/ZnodeEndpoint.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Endpoint/CustomEndpoint.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Controls/ZnodeProgressNotifier.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Controls/ZnodeMultiSelect.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Controls/ZnodeCollapsibleGrid.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Controls/WebGrid/GridPager.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Controls/WebGrid/DynamicGrid.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Controls/WebGrid/CustomJurl.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Controls/TreeView.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Controls/TextBoxEditorFor.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Controls/SaveCancelButton.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Common/ZnodeHelper.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Common/ZnodeGlobal.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/ClientResource/Resource.fr.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/ClientResource/Resource.en.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/ClientResource/Resource.de.js
/ZnodeMultifront/Projects/Znode.Engine.Api/Data/Scheduler/Logs/*
/ZnodeMultifront/Projects/Znode.Engine.WebStore/data/default/logs/*
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Extensions/CustomHome.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/ZSearch.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/ZnodeNotification.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/User.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/StoreLocator.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/SiteMap.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/Search.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/QuickOrderPad.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/QuickOrder.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/Product.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/Import.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/Home.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/FormBuilder.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/Config.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/Checkout.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/Category.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/CaseRequest.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/Cart.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/Brand.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/BlogNews.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Model/Znode.Model.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Endpoint/ZnodeEndpoint.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Controls/ZnodeMultiSelect.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Controls/WebGrid/GridPager.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Controls/WebGrid/DynamicGrid.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Controls/WebGrid/CustomJurl.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Controls/TextBoxEditorFor.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Controls/ZnodeAjaxify.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Common/ZnodeHelper.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Common/ZnodeGlobal.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Common/ZnodeRegExHelper.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/ClientResource/Resource.fr.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/ClientResource/Resource.en.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/ClientResource/Resource.de.js
*.user
/ZnodeMultifront/SetupFiles
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/ContentPage.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/BarcodeScanner/BarcodeReader.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/SalesRep.js
/ZnodeMultifront/Projects/Znode.Engine.Api/Data/Media
/ZnodeMultifront/Media
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Web.QA.config
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Web.Dev.config
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Web.Demo-FineFoods.config
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Web.automation.config
/ZnodeMultifront/Projects/Znode.Engine.Api/Web.QA.config
/ZnodeMultifront/Projects/Znode.Engine.Api/Web.Dev.config
/ZnodeMultifront/Projects/Znode.Engine.Api/Web.Demo-FineFoods.config
/ZnodeMultifront/Projects/Znode.Engine.Api/Web.automation.config
/ZnodeMultifront/Projects/Znode.Engine.Admin/Web.QA.config
/ZnodeMultifront/Projects/Znode.Engine.Admin/Web.Dev.config
/ZnodeMultifront/Projects/Znode.Engine.Admin/Web.Demo-FineFoods.config
/ZnodeMultifront/Projects/Znode.Engine.Admin/Web.automation.config
/ZnodePayment/PaymentApp/Znode.Multifront.PaymentApplication/packages
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/SearchReport.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Recommendation.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/OrderTabs.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/Media.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/VoiceRecognition/VoiceRecognition.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/RMAReturn.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/Quote.js
/ZnodeMultifront/Projects/Znode.Engine.WebStore/Scripts/Core/Znode/GoogleAnalytics.js
/ZnodeMultifront/Projects/Znode.Engine.Admin/Scripts/Core/Znode/RMAReturn.js
